* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* utils */
.mt-2 {
	margin-top: 0.5rem !important;
}

.mt-4 {
	margin-top: 1.5rem !important;
}

.ms-auto {
	margin-left: auto !important;
}

.me-3 {
	margin-right: 1rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.p-2 {
	padding: 0.5rem !important;
}

.p-3 {
	padding: 1rem !important;
}

.p-4 {
	padding: 1.5rem;
}

.px-2 {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

.px-4 {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}

.my-2 {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.overflow-auto {
	overflow: auto !important;
}

.overflow-x-auto {
	overflow-x: auto !important;
}

.overflow-y-auto {
	overflow-y: auto !important;
}

.d-flex {
	display: flex !important;
}

.flex-column {
	flex-direction: column !important;
}

.justify-content-baseline {
	justify-content: baseline !important;
}

li {
	list-style: none;
}

.bg-dark {
	background-color: #5e686b7c;
	box-sizing: border-box;
	border-radius: 20px;
	color: white;
}

body {
	margin: 0;
	font-family: "Balsamiq Sans", cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 1.5px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

body {
	background-color: #74ccf1;
	background-image: url("../public/img/bg-star.svg");
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	border: 1px solid rgb(73, 73, 73);
	box-sizing: border-box;
	width: 400px;
	grid-area: board;
	/* margin: 0px auto; */
	margin-right: 1rem;
	height: 400px;
	background-color: #ecffff;
}

.square {
	border: 1px solid rgb(73, 73, 73);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
	position: relative;
}

.square:hover {
	background-color: rgba(12, 12, 10, 0.5);
	content: "x";
}

.container {
	/* border: 1px solid black; */
	margin: 0 auto;
	width: 80%;
	padding: 2rem 2rem 2rem;
	text-align: center;
}

.row {
	/* display: grid; */
	/* grid-template-areas:
		"users board character"
		"users board character"
		"users board character"; */
	/* grid-template-columns: 250px 1fr 200px; */
	/* grid-template-columns: 1fr 1fr 1fr; */
	/* margin: 2rem auto 0px; */
	/* gap: 1rem 40px; */
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main {
	display: flex;
	justify-content: center;
}

/* character */
.o-char {
	color: #f46c88;
}

.x-char {
	display: block;
}

.winner {
	/* font-size: 1.5rem; */
	align-self: center;
	padding: 1rem;
	background-color: #5e686b7c;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.winner-icon {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
}

.winner-user {
	position: relative;
	text-align: center;
	height: 50px;
	width: 100%;
	line-height: 50px;
}

.winner-icon img {
	width: 30px;
	align-self: end;
	margin-right: 0.5rem;
}

/* .winner-user span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
} */

.winner-small {
	border-radius: 10px;
	display: none;
	max-width: 150px;
}

.border-bottom {
	position: absolute;
	border: 1px solid white;
	left: 0px;
	bottom: 0px;
	right: 0;
}

.users-container {
	grid-area: users;
	height: fit-content;
	max-width: 300px;
	margin-right: 80px;
}

.users-wrapper {
	text-align: left;
	padding: 1rem 1.5rem;
}

.users-wrapper ul li::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: greenyellow;
	margin-right: 0.5rem;
}

.users-wrapper ul li {
	padding: 5px 0px;
}

.inspire {
	margin: 0 auto;
	min-height: 100px;
	color: #ff9edf;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.choose-character-bg,
.how-the-game-starts-bg {
	background-color: #a0a0a083;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
}

.choose-character-card,
.how-the-game-starts-card {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 300px;
	border: 1px solid black;
	background-color: white;
	border-radius: 20px;
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
}

.character {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 50px auto 0px;
}

.character button {
	padding: 20px;
	box-sizing: border-box;
	background-color: #ecffff;
	cursor: pointer;
	border-radius: 30px;
	transform: scale(1.1);
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.5);
}

.character button:hover {
	background-color: #d5e6e6;
	transform: scale(1);
	box-shadow: none;
}

.game-start-option {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 50px auto 0px;
}

.game-start-option button {
	width: 120px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1rem;
	transform: scale(1.1);
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.5);
	font-family: inherit;
}

.game-start-option button:nth-child(1) {
	background-color: #21a9e3;
}

.game-start-option button:nth-child(2) {
	background-color: #f77f97;
}

.game-start-option button:nth-child(1):hover {
	background-color: #21a9e3a1;
	transform: scale(1);
	box-shadow: none;
}

.game-start-option button:nth-child(2):hover {
	background-color: #f46c8791;
	transform: scale(1);
	box-shadow: none;
}

.player {
	max-width: 150px;
	text-align: left;
	grid-area: character;
	height: fit-content;
	border-radius: 10px;
	padding: 1rem;
}

.player img {
	width: 1rem;
}

.player-character {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	align-items: center;
}

.game-info {
	display: flex;
	flex-direction: column;
}

.play-again-button {
	background-color: #ff9edf;
	display: block;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	border-radius: 10px;
	box-shadow: 3px 3px 0px 0px rgba(163, 163, 163, 0.5);
	font-family: inherit;
	cursor: pointer;
	border: 0.5px solid #b3b3b3;
	animation: playAgainButton 1.5s infinite;
}

.play-again-button:hover {
	background-color: #ff9edfbd;
	transform: translate(2px, 2px);
	box-shadow: none;
	animation: none;
}

@keyframes playAgainButton {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

/**
responsive
*/
@media (max-width: 1048px) {
	.users-container {
		max-width: 200px !important;
		margin-right: 30px !important;
	}
}

@media (max-width: 992px) {
	.users-container {
		margin-right: 30px !important;
	}
}

@media (max-width: 768px) {
	.player {
		max-width: 200px;
		text-align: left;
		grid-area: character;
		height: fit-content;
	}

	.row {
		padding: 20px;
		flex-direction: column-reverse;
	}

	.users-container {
		margin: 0px auto !important;
		max-width: 60% !important;
		margin-top: 50px !important;
	}

	.board {
		box-sizing: border-box;
		width: 350px;
		grid-area: board;
		/* margin: 0px auto; */
		height: 350px;
		background-color: #ecffff;
	}

	.inspire {
		max-width: 100% !important;
		margin: 0 auto;
		min-height: 100px;
		color: #ff9edf;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		font-size: 0.8rem;
	}

	.player {
		max-width: 150px;
		text-align: left;
		font-size: 0.8rem;
		height: fit-content;
	}

	.player img {
		width: 1rem;
	}

	.player-character {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		align-items: center;
	}

	.winner-small {
		border-radius: 10px;
		display: block;
		margin-top: 20px;
	}

	.winner-large {
		display: none;
	}

	.users-wrapper {
		margin: 0px !important;
	}
}

@media (max-width: 576px) {
	.container {
		/* border: 1px solid black; */
		margin: 0 auto;
		width: 80%;
		padding: 1.5rem 1rem 1rem;
		text-align: center;
	}

	.main {
		flex-direction: column-reverse;
	}

	.game-info {
		flex-direction: row;
		align-items: end;
		width: 350px;
		margin: 0 auto;

		/* width: 350px; */
	}

	.winner {
		padding: 0.8rem;
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		display: flex;
		align-items: center;
	}

	.winner-icon {
		display: flex;
		align-items: center;
		font-size: 1rem;
	}

	.winner-icon img {
		width: 1rem;
		align-self: end;
		margin-right: 0.5rem;
	}

	.winner-small {
		display: none;
	}

	.winner-large {
		display: block !important;
	}

	.inspire {
		margin: 0 auto;
		min-height: 80px;
		color: #ff9edf;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.6rem;
		font-size: 0.7rem !important;
	}

	.player {
		max-width: 150px;
		text-align: left;
		grid-area: character;
		height: fit-content;
		border-radius: 10px;
	}

	.board {
		margin: 0px auto !important;
		margin-top: 20px !important;
	}

	.users-container {
		margin: 0px auto !important;
		max-width: 90% !important;
		margin-top: 50px !important;
		font-size: 0.8rem;
	}

	.winner-large {
		display: none;
	}

	.play-again {
		margin-left: auto;
	}
}

@media (max-width: 380px) {
	.board {
		width: 270px;
		height: 270px;
		margin: 0px auto !important;
		margin-top: 20px !important;
	}

	.game-info {
		width: 270px;
	}

	.row {
		padding: 0.5rem;
	}

	.container {
		width: 100%;
		padding: 1rem 1.2rem 1rem;
		text-align: center;
	}

	.player {
		padding: 0.7rem;
	}

	.o-char img {
		width: 40px;
	}

	.x-char img {
		width: 40px;
	}
}
